html{
        font-family: 'Nunito', sans-serif;
        background-color: rgb(244, 244, 244, 0.5);
}

.backgroundBienvenida{
    height: 100vh;
    width: auto;
    overflow: hidden;
    background-image: url("../img/backgroundBienvenida.png");
    background-size:cover;
    background-repeat: no-repeat;

}

.divisionPantalla{
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cohete{
    overflow:auto;
    margin: 49.9vh 0 0 10vh;
    height: 50vh;
}
/* Copy this @keyframes block to your CSS*/
@keyframes yourAnimation {
    0.0%{
        transform: translate(0, -10vh);
        opacity: 1;
    }
    100%{
        transform: translate(0, -50vh);
        opacity: 0;
    }
}
    .Animate{
    animation: yourAnimation 2s ease 0s 1 normal forwards;
    }
.nubes{
   
    background-image: url("../img/Nubes.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0  5vh;

}
.bienvenidoGrid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-self:center;
}
.bienvenido{
    margin-top: 25vh;
    font-family:'Nunito';
    font-style: normal;
    font-weight: 100;
    font-size: 10vh;
    line-height: 75%;
    text-align: center;
    color: #4D53D9;
}
.genial{
    margin-top: 15vh;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 8vw;
    line-height: 74.69%;
    /* or 90px */
    text-align: center;
    color: #4D53D9;
}
.logo360Bienvenido{
  margin: 3vw 0 0 3vw;
}

.botonRegistrar{
    margin: 10vw 0vw 0vw 7vw;
    height: 7vh;
    width: 12vw;
    background: linear-gradient(90deg, #826AD7 0%, #98DEF3 99.99%);
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 200;
    font-size: 3vh;
    border: none;
    text-align: center;
    color: #FFFFFF;
} 
.botonRegistrar:hover{
box-shadow: 7px 7px 25px #4FBCF1;}
.botonRegistrar:active{
    background: linear-gradient(0.25turn, #5e3fcc, #2989a6);
}
.botonRegistrar::after{
    background: linear-gradient(0.25turn, #5e3fcc, #2989a6);
}