html{
    font-family: 'Nunito', sans-serif;
    background-color: rgb(244, 244, 244, 0.5);
}

.background3{

background-image: url("../img/background3.png");
background-size:cover;
background-repeat: no-repeat;

}

.ladoIzquierdo{
    height: 100vh;
    width: 50vw;
    display: grid;
    grid-template-rows: auto;
    justify-content: center;

}

.sobre{
    height: 60vh;
    margin: 10% 0 0 10%;
}
.sobre2{
    height: 60vh;
    margin: 20% 0 0 10%;
}
/* animacion cuando solo hay imagen */
@keyframes Animation {
    0.0%{
    transform: translate(50%, 50%);
   }
   100%{
   transform: scale(1) translate(50%, 20%) skew(0deg);
   }
       }

/* Animacion para cuando hay imagen y texto */
@keyframes Animation2 {
        0.0%{
        transform: translate(50%, 50%);
       }
       100%{
       transform: scale(1) translate(50%, 10%) skew(0deg);
       }
           }
       
.move{
    justify-self: center;
    align-self: center;
    animation: Animation 1s ease-in 0.1s 1 normal both;
       }
   
.moveMasALto{
    justify-self: center;
    align-self: center;
    animation: Animation2 1s ease-in 0.1s 1 normal both;
}

.textIzquierdo{
    display: block;
    max-width: 70%;
    margin-top: -5%;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 3.3vh;
    text-align: center;
    color: #353C73;
    
   }

.ladoDerecho{
    text-align: center;
    margin: 1% 0 0 0;
    height: 100vh;
    display: grid;
    grid-template-rows: auto;
   justify-content: center;
   align-items: center;
   
}
.ladoDerechoEstiloTienda{
    margin-top: 8%;
    text-align: center;
    height: 100vh;
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  align-items: flex-start;

}

.logo{
    position: absolute;
    left: 66%;
    right: 21.65%;
    top: 4%;
    bottom: 88.43%;
    width: 15vw;

}
/* logo de la segunda parte, al borde izq */
.logo2{
    position: absolute;
    left: 35%;
    right: 21.65%;
    top: 4%;
    bottom: 88.43%;
    width: 15vw;

}
.containerMiddle{
    margin-top: unset; 
    display: grid;
    grid-template-rows: 60%;
    justify-self:center;
    align-items: center;
    

}
.containerMiddleEstiloTienda{
    margin-top: auto;
    display: unset;
    grid-template-rows: unset;
    justify-content: unset;
    align-items: unset;
   
}

.pregunta2{
    margin: auto;
    max-width: 90%;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    color: #616161;
}
.textoStyle{
   
    font-family: 'Nunito';
    width: 80%;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 108.19%;
    text-align: center;
    color: #353C73;
}
/* pagina 3 */

/* Texto al lado de los radius */
.radiusText{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    color: #616161;
    }


/* pagina 4 */
.background4{
    
    background-image: url("../img/background4.png");
    background-size:cover;
    background-repeat: no-repeat;
 }
  
.img4{
    margin: 0 0 0 -10vw;
    height: 70vh;
    width: auto;
}

/* pagina 5 */
.background5{

    background-image: url("../img/background5.png");
    background-size:cover;
    background-repeat: no-repeat;
 }
 
 .mouseCarousel{
     transform: scale(95%);
 }
 .mouseCarousel:hover{
     overflow: hidden;
    transform: scale(100%);
 }
 .galeria{
     margin: auto;
     width: 50%;
    height: auto;
     display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
     overflow: scroll;  
 }
/* Estilo tienda */
.tiendaTexto{
    font-size: 18px;
    
}
.imagenCarousel{
    border-radius: 25px;
}
#carousel {
    position: relative;
    height: 30vh;
    width: 45vw;
    top: 18vh;
    transform: translateY(-50%);
    overflow: hidden;
  }
  #carousel div {
    position: absolute;
    top: 5%;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
  }
  #carousel div img {
    height: 20vh;
    width: auto;
    transition: width 1s;
  }
  #carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(0%) translateX(-100%);
  }
  #carousel div.hideLeft img {
    height: 17h;
    width: auto;
  }
  #carousel div.hideRight {
   
    opacity: 0;
    transform: translateY(-10%) translateX(-50%);
  }
  #carousel div.hideRight img {
    height: 17vh;
    width: auto;
}
  #carousel div.prev {
    z-index: 5;
    left: 33%;
    transform: translateY( 13px) translateX(-100%);
  }
  #carousel div.prev img {
    height: 18vh;
    width: auto;
  }
  #carousel div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(10%) translateX(0%);
    opacity: 0;
  }
  #carousel div.prevLeftSecond img {
    height: 17vh;
    width: auto;
  }
  #carousel div.selected {
    z-index: 10;
    left: 50%;
    transform: translateY(-10px) translateX(-50%);
  }
  #carousel div.next {
    z-index: 5;
    left: 70%;
    transform: translateY(13px) translateX(-10%);
  }
  #carousel div.next img {
    height: 18vh;
    width: auto;
  }
  #carousel div.nextRightSecond {
    z-index: 4;
    left: 70%;
    transform: translateY(0%) translateX(40%);
    opacity: 0;
  }
  #carousel div.nextRightSecond img {
    height: 17vh;
    width: auto;

  }
  .buttons{
    background: none;
      border: none;
  }
  .buttons img {
    height: 30px;
  }


 /* Pagina 8 crear un dominio */
 .background8{
    background-image: url("../img/background8.png");
    background-size:cover;
    background-repeat: no-repeat;
 }
 .inputURL{

     margin: auto;
     width:80%;
     height: 50px;
     border: 2px solid, #836ED8 ;
     border-radius: 50px;
     color: #836ED8;
 }
 
 /* pagina Felicitaciones */
 .felicitaciones{
    margin: 3%;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 6.5vw;
    line-height: 74.69%;
    text-align: center;
    color: #4D53D9;
 }
 .signoExclamacion{
    font-size: 13vw;
}
 

.sistemaActivado{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 108.19%;
text-align: center;
color: #616161;}

.sistemaActivadoMobil{
    display: none;
}
/* pagina comenzar Ahora */
.comenzarAhoraTxt{
    font-family:'Nunito';
    font-style: normal;
    font-weight: 100;
    font-size: 10vh;
    line-height: 75%;
    text-align: center;
    color: #4D53D9;
}
/*  pagina 11 afip */
.recuadro{
    
    background: rgba(242, 242, 242, 0.93);
    border: 3px solid #826BD7;
    box-sizing:border-box;
    box-shadow: 4px 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 42px;

    font-family: 'Nunito';
font-style: normal;
font-weight: 300;
font-size: 90%;
line-height: 108.19%;
text-align: center;
color: #353C73;
}
.form-check{
    margin-left: 35%;
font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 100%;
text-align: left;
color: #808080;
}
/* paso 02-11  */

.marginTop{
   height: 100vh;
   justify-self: flex-start;
   width: 40vw;
}
 /* progress bar */
 .progresoBar{
     position: absolute;
     top:85%;
     left: 66%;
     width: 20%;
 }
 .progreso{
    position: absolute;
    top:81%;
    left: 65%;
    width: 20%;
    font-size: 12px;
 }