html{
    font-family: 'Nunito', sans-serif;
    background-color: rgb(244, 244, 244, 0.5);
    height: 100vh;
  }

.boton{
    position: absolute;
    top: 70vh;
    left: 69%;
}
.boton2{
    position:relative

}

.backgroundBtn{

    color: white;
    border-style: none;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 20px;
    background: linear-gradient(0.25turn, #826ad7, #98def3);
    padding: 0.7% 2% 0.7% 2%;
}
.backgroundBtn:hover{
    background: linear-gradient(0.25turn, #826ad7, #98def3);
    filter: drop-shadow(10px 5px 5px #7d97f4);
   
}
.backgroundBtn:active{
    background: linear-gradient(0.25turn, #5e3fcc, #2989a6);

}
.icon{
    height: 18vh;
    width: auto; 
}
.iconWithAdd{
  margin-top: -5%;
    height: 22vh;
    width: auto; 
}
.inputs::placeholder{
    color: #69828a;
}
.inputInline{
    display: flex;
    flex-direction: row;
}
.input{ 
  position: relative;
  margin: 0 0% 0 5%;
    width: 100%;
}
.inputs{
    color:#826ad7;
    font-weight: 100;
    text-align: start;
}

.device{
    max-width: 20vw;
    display: flex;
   flex-direction: row;
   flex-wrap:nowrap;
}

.logoDevice{
        display: none;
    }

.radius{
    align-self: center;
    justify-self: center;
  
}
.radius{
    margin: 30px 0 0 130px;
}
.radius2{
    margin: 30px 0 0 230px;
}
.radius3{
    margin: 30px 0 0 220px;
}
.mostrarMobile{
 display: none;
}
.logoDeviceFelicidades{
    display: none;
}
.textoMobil{
    display: none;
}

.backgroundBienvenida{
background-image: url("../img/backgroundBienvenida.png");
background-size:cover;
background-repeat: no-repeat;
}

.divisionPantalla{
margin: auto;
overflow: hidden;
display: grid;
grid-template-columns: 48vw 48vw;
}
.cohete{
z-index: 1;
overflow:auto;
margin: 49.9vh 0 0 10vh;
height: 50vh;
}

@keyframes yourAnimation {
0.0%{
    transform: translate(0, -10vh);
    opacity: 1;
}
100%{
    transform: translate(0, -50vh);
    opacity: 0;
}
}
.Animate{
animation: yourAnimation 2s ease 0s 1 normal forwards;
}
.nubes{
display: block;
position: absolute;
left: 2vw;
top: 2vw;
width:auto;
height: 100vh;

}
.bienvenidoGrid{

display: grid;
grid-template-rows:auto;
align-items: flex-start;
justify-content: center;

}
.bienvenido{
margin: 40% 0 0 0;
font-family:'Nunito';
font-style: normal;
font-weight: 100;
font-size: 10vh;
line-height: 75%;
text-align: center;
color: #4D53D9;
}



.logo360Bienvenido{
  margin-top:12% ;
height:12vh;
}

/* Estilo de la carga */
*,*::after,*::before{
box-sizing:border-box;
margin: 0;  
padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}

#contenedor_carga{
background-color: rgb(244, 244, 244, 1);
height: 100%;
width: 100%;
position: fixed;
z-index: 1000;
-webkit-transition: all 1% ease;
-o-transition: all 1% ease;
transition: all 1% ease;
}
#carga{
border: 10px solid #a7a7a7;
border-top-color:#4D53D9 ;
border-top-style: groove;
height: 50px;
width: 50px;
border-radius: 100%;
position: absolute;
top: 30%;
left: 0;
right: 0;
bottom: 0;
margin: auto;
-webkit-animation: carga 1.5s linear infinite;
-o-animation: carga 1.5s linear infinite;
animation: carga 1.5s linear infinite;
}
@keyframes carga{
from{ transform: rotate(0deg);}
to{transform: rotate(360deg);}
}
  


.ladoIzquierdo{
    height: 100vh;
    width: 50vw;
    display: grid;
    grid-template-rows: auto;
    justify-content: center;

}

.sobre{
    height: 60vh;
    margin: 10% 0 0 10%;
}
.sobre2{
    height: 60vh;
    margin: 20% 0% 0 12%;
    justify-self: center;
    align-self: center;
}
/* animacion cuando solo hay imagen */
@keyframes Animation {
    0.0%{
    transform: translate(50%, 50%);
   }
   100%{
   transform: scale(1) translate(50%, 20%) skew(0deg);
   }
       }

/* Animacion para cuando hay imagen y texto */
@keyframes Animation2 {
        0.0%{
        transform: translate(50%, 50%);
       }
       100%{
       transform: scale(1) translate(50%, 10%) skew(0deg);
       }
           }
       
.move{
    justify-self: center;
    align-self: center;
    animation: Animation 1s ease-in 0.1s 1 normal both;
       }
   
.moveMasALto{
    justify-self: center;
    align-self: center;
    animation: Animation2 1s ease-in 0.1s 1 normal both;
}

.textIzquierdo{
    display: block;
    max-width: 70%;
    margin-top: -5%;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 3.3vh;
    text-align: center;
    color: #353C73;
    
   }

.ladoDerecho{
    text-align: center;
    height: 100vh;
    width: 48vw;
    display: grid;
    grid-template-rows: auto;
   justify-content: center;
   align-items: flex-start;
   
}
.ladoDerechoEstiloTienda{
    margin-top: 10%;
    text-align: center;
    height: 100vh;
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  align-items: flex-start;

}

.logo{
    position: absolute;
    left: 66%;
    right: 21.65%;
    top: 4%;
    bottom: 88.43%;
    width: 10vw;

}
/* logo de la segunda parte, al borde izq */
.tilde{
  position: absolute;
  top: 35%;
  left: 90%;
  height: 15px;
  width: 22px;
}
.logo2{
    position: absolute;
    left: 37%;
    top: 3%;
    bottom: 88.43%;
    width: 10vw;

}
.containerMiddle{
  width: 48vw;
    margin-top: 16%; 
    display: grid;
    grid-template-rows: 60%;
    justify-self:center;
    align-items: flex-start;
    

}
.containerMiddleEstiloTienda{
    margin-top: 5%;
   
}
/* container paso 3 */

.pregunta2{
    margin: 4% auto 0 auto;
    max-width: 90%;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    text-align: center;
    color: #616161;
}
.textoStyle{
   
    font-family: 'Nunito';
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 100;
    font-size: 2.7vh;
    line-height: 108.19%;
    text-align: center;
    color: #353C73;
}
/*  Validaciones */

/* Texto al lado de los radius */
.radiusText{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    color: #616161;
    }


/* pagina 4 */

#upFile{
  position: relative;
  top: 10%;
  left: 35%;
  height: 70px;
  width: 200px;
  background-image: url(../img/cargueIMG.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.file{
  height: 100px;
  opacity: 0;
}

  
.img4{
    margin: 0 0 0 -10vw;
    height: 70vh;
    width: auto;
}

/* pagina 5 */
.background5{

    background-image: url("../img/background5.png");
    background-size:cover;
    background-repeat: no-repeat;
 }
 
 .mouseCarousel{
     transform: scale(95%);
 }
 .mouseCarousel:hover{
     overflow: hidden;
    transform: scale(100%);
 }
 .galeria{
     margin: auto;
     width: 50%;
    height: auto;
     display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
     overflow: scroll;  
 }
/* Estilo tienda */
.tiendaTexto{
    font-size: 18px;
    
}
.imagenCarousel{
    border-radius: 25px;
}
#carousel {
    position: relative;
    height: 30vh;
    width: 45vw;
    top: 18vh;
    transform: translateY(-50%);
    overflow: hidden;
  }
  #carousel div {
    position: absolute;
    top: 5%;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
  }
  #carousel div img {
    height: 20vh;
    width: auto;
    transition: width 1s;
  }
  #carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(0%) translateX(-100%);
  }
  #carousel div.hideLeft img {
    height: 17h;
    width: auto;
  }
  #carousel div.hideRight {
   
    opacity: 0;
    transform: translateY(-10%) translateX(-50%);
  }
  #carousel div.hideRight img {
    height: 17vh;
    width: auto;
}
  #carousel div.prev {
    z-index: 5;
    left: 33%;
    transform: translateY( 13px) translateX(-100%);
  }
  #carousel div.prev img {
    height: 18vh;
    width: auto;
  }
  #carousel div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(10%) translateX(0%);
    opacity: 0;
  }
  #carousel div.prevLeftSecond img {
    height: 17vh;
    width: auto;
  }
  #carousel div.selected {
    z-index: 10;
    left: 50%;
    transform: translateY(-10px) translateX(-50%);
  }
  #carousel div.next {
    z-index: 5;
    left: 70%;
    transform: translateY(13px) translateX(-10%);
  }
  #carousel div.next img {
    height: 18vh;
    width: auto;
  }
  #carousel div.nextRightSecond {
    z-index: 4;
    left: 70%;
    transform: translateY(0%) translateX(40%);
    opacity: 0;
  }
  #carousel div.nextRightSecond img {
    height: 17vh;
    width: auto;

  }
  .buttons{
    background: none;
      border: none;
  }
  .buttons img {
    height: 30px;
  }


 /* Pagina 8 crear un dominio */

 .inputURL{
     margin: auto;
     height: 50px;
     border: 2px solid, #836ED8 ;
     border-radius: 50px;
     color: #836ED8;
 }
 
 /* pagina Felicitaciones */
 .felicitaciones{
    margin:13% 0 0 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 200;
    font-size: 5.5vw;
    line-height: 74.69%;
    text-align: center;
    color: #4D53D9;
 }
 .signoExclamacion{
   font-weight: 400;
    font-size: 10vw;
}
.centrarFelicitaciones{
  text-align: center;
  justify-content: center;
  align-items: center;
}
 

.sistemaActivado{
  margin: 5% 0 0 0 ;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 108.19%;
text-align: center;
color: #616161;}

.sistemaActivadoMobil{
    display: none;
}
/* pagina comenzar Ahora */
.comenzarAhoraTxt{
  margin: 3% 0 3% 0;
    font-family:'Nunito';
    font-style: normal;
    font-weight: 100;
    font-size: 9vh;
    line-height: 75%;
    text-align: center;
    color: #4D53D9;
}
.iconModal{
  height: 20vh;
  width: auto; 
}
/*  pagina 11 afip */
.recuadro{

    
    background: rgba(242, 242, 242, 0.93);
    border: 3px solid #826BD7;
    box-sizing:border-box;
    box-shadow: 4px 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 42px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 90%;
    line-height: 108.19%;
    text-align: center;
    color: #353C73;
}
.form-check{
    margin-left: 27%;
font-family: 'Nunito';
font-style: normal;
font-weight: 200;
font-size: 3vh;
text-align: left;
color: #808080;
}
/* paso 02-11  */

.marginTop{
   height: 100vh;
   justify-self: flex-start;
   width: 40vw;
}


/* pagina paso 3 */
.textPaso3{
  margin: 0 0 0 2%;
  font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 2.7vh;
line-height: 108.19%;
text-align: center;
color: #143E94;
}

 /* progress bar */
 .progresoBar{
     position: absolute;
     top:85%;
     left: 66%;
     width: 20%;
 }
 .progreso{
    position: absolute;
    top:81%;
    left: 65%;
    width: 20%;
    font-size: 12px;
 }

 /* progreso modal */
 .progresoBarModal{
  margin: auto;
  position: unset;

  top:unset;
  left: unset;
  width: 50%;
  height: 16px;
}
.progresoModal{
  justify-self: flex-end;
 align-self: flex-end;
  position: unset;
  top:unset;
  left: unset;
 font-size: 10px;
 text-align: center;
  margin: auto;
  width: fit-content;
}

 /* modal */
 
.modal{
  margin: 1vh 1vw 1vh 1vw;
  max-width: 98vw;
  max-height: 98vh;
  border-radius: 8px;
}
.modal-dialog{
  overflow: hidden;
  margin: 0%;
  max-width: 100%;
  max-height: 100%;

}

.modal .modal-content{
padding: 0%;
}
.modal-content{
  border: none;

}
.divisionPantallaModal{
  height: 95vh;
  margin: auto;
  display: grid;
  grid-template-columns: 48vw 48vw;
 
}
.logoModal{
  position: absolute;
  left: 70%;
  top: 4%;
  bottom: 88.43%;
  width: 10vw;
}
.ladoDerechoModal{
  overflow:auto;
  text-align: center;
  display: grid;
  grid-template-rows: auto;
 justify-content: center;
 width: 100%;
 height: 98vh;
}
.containerMiddlePaso3{
  margin: auto;
  height: 80vh;
  width: 47vw;
  display: grid;
  grid-template-rows: auto;
  justify-content:center;
  align-self: flex-start;
}
.positionComenzarAhora{
   margin-top: 10%;
}
.marginMobileModal{
  margin-top: unset;
}
.textoStylePasos{
  font-family: 'Nunito';
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-size: 3.5vh;
  line-height: 108.19%;
  text-align: center;
  color: #353C73;
}
/* paso 1 */
/* paso nombre de tu emprendimiento */
.textoStylePaso1Nombre{
  width: 60%;
  font-family: 'Nunito';
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 3.5vh;
    line-height: 108.19%;
    text-align: center;
    color: #353C73;
}

.inputURLModal{
  width: 85%;
  margin: auto;
  height: 38px;
  border: 2px solid #836ED8 ;
  border-radius: 50px;
  outline:#836ED8;
  color: #836ED8;
}
.paso1-1{
  margin-top: 12%;
}
.posicionBotonPaso1_1{
  margin-top: 30vh;
}
/* paso 1-2 */
.posicionBotonPaso1_2{
  margin-top: 33vh;
}
/* pagina 2 */
.anchoTextoPaso2{
  width: 70%;

}
/* paso 3 */
.recuadroPaso3{
  margin: auto;
}
.posicionBotonPaso3{
  margin-top: 10vh;
}
.posicion_signo_mas{
  margin: auto 3% auto 0;
  width:15px; 
  height: 15px;
}
.cargarCaja{
position: relative;
 left: 8%;
 top: 8%;
 margin-bottom: 10vh;

}
#input{
  width: 55%;
  height: 35px;
  max-width: 100%;
}

.escribirAbajoInput{
  text-align: start;
  margin: 0 0 0 9%;
  font-size: 2.3vh; 
  color:#353C73
}

.textIzquierdoModal{
  display: block;
  max-width: 67%;
  margin: -30% auto 0 3%;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 3.5vh;
  text-align: center;
  color: #353C73;
  justify-self: start;
  align-self: center;
  
 }
 /* paso 4 */
 .textIzquierdoModalPaso4{
  display: block;
  max-width: 70%;
  margin: -25% auto 0 0%;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-size: 3vh;
  text-align: center;
  color: #353C73;
  justify-self: start;
  align-self: center;
  
 }
 .paso4{
   margin-top: 5%;
 }
 .inputPaso4{
   width: 55%;
 height: 40px;
 max-width: 100%;}
 
 .paso7Inputs{
   position: relative;
   top:50px;
   left: -15%;
 }
 
 .ladoIzquierdoModal{
  display: grid;
  width: 48vw;
  grid-template-rows: auto;
  justify-content: normal;

}
.items{
  margin:-10% 0 0 23%;
}


.genial{
  margin-top: 20%;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 100;
    font-size: 9vw;
    line-height: 74.69%;
    text-align: center;
    color: #4D53D9;
}
.genialExclamacion{
  font-weight: 400;
  font-size: 14vw;
}
.textPaso8{
  margin-top: 12vh;
  font-size: 2.7vh;
}