html{
    font-family: 'Nunito', sans-serif;
    background-color: rgba(244, 244, 244, 0.1s);
}
.background{
    background-image: url("../img/background.png");
    background-size:cover;
    background-repeat: no-repeat;
}

.display{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}
.backgroundBtn{
    height: 7vh;
    width: 12vw;
    color: white;
    border-style: none;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 20px;
    background: linear-gradient(0.25turn, #826ad7, #98def3);

}
.backgroundBtn:hover{
    background: linear-gradient(0.25turn, #826ad7, #98def3);
    filter: drop-shadow(10px 5px 5px #7d97f4);
   
}
.backgroundBtn:active{
    background: linear-gradient(0.25turn, #5e3fcc, #2989a6);

}
.inputs::placeholder{
    color: #69828a;
}
.input{
   
    margin: auto;
    width: 25vw;
}
.inputs{
    color:#826ad7;
    font-weight: 500;
}

.info{
    background: none;
    max-width: 80vw;
    text-align: center;
    margin: 10%;
    display: grid;
    grid-template-rows: 0.3fr 1fr 1fr;

}
.device{
    max-width: 20vw;
    display: flex;
   flex-direction: row;
   flex-wrap:nowrap;
}
.logo{
    margin-top: -35px;
    min-width: 13vw;
}
.user{
    justify-self: flex-end;
    margin: auto;
    height: 20vh;
    width: auto;
}
.resizePic{
    height: 70vh;
    width: auto;
}
.pregunta{
    color:#616161;
    font-weight:400;
}
@keyframes Animation {
 0.0%{
 transform: translate(50%, 50%);
}
100%{
transform: scale(1) translate(50%, 20%) skew(0deg);
}
    }

.move{
    animation: Animation 0.5s ease-in 0.1s 1 normal both;
    }


/* mobile */
@media (max-width: 700px) {
    .background{
        background: none;
    }
   
    .display{
        display: block;
        margin: auto;
       
    }
    .device{
        max-width: 80vw;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
    .center{
        text-align: center;
    }
    .input{
        margin: auto;
        width: 60vw;
    }
    .logo{
        justify-items: center;
        margin: 10px;
        width: 70vw;
    }
    .boton{
        padding: 15px;
        width: fit-content;
    }
    .fotoMove{
        display: none;
    }
    .info{
        display: grid;
        grid-row: 0.5fr 1fr 1fr;
        justify-content: center;
    }

}

  