
/* mobile */
@media (max-width: 820px) {
        /* pagina inicio  */
  /* background */
    .backgroundMobil{
           
    background-color: rgba(244, 244, 244, 0.1);
    background-image: url("../img/backgroundMobileModal.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    }
   
   
    /* division de pantalla en movil */
    .divisionPantalla{
        display: block;
      
    }
    .divisionPantallaModal{
        display: block;
    }
    .bienvenidoGrid{
        height: 99vh;
        width: 100%;
        margin-top: unset; 
        display: grid;
        grid-template-columns: auto;
      
    }

    /* componentes */
    .botonModal{
        padding: 8px;
        width: fit-content;
    }
    .boton{ 
        position: unset;
        top: unset;
        left: unset;
        padding: 10px;
        width: fit-content;
    }
    .bienvenidoMobile{
        margin: auto;
        text-align: center;
        font-size: 15vw;
    }
    .botonMovil{
        margin-top: 5%;
        text-align: center;
        width: fit-content;
     
    } 
    .nubes{
       display: none;
    }
    .pregunta2{
        margin: auto;
        max-width: unset;
    }
    .progresoBar{
        margin: auto;
        position: unset;
     
        top:unset;
        left: unset;
        width: 50%;
        height: 16px;
    }
    .progreso{
       
        position: unset;
        top:unset;
        left: unset;
       font-size: 10px;
       text-align: center;
        margin: auto;
        width: fit-content;
    }
    /* texto al lado de los radius */
    .radiusText{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: #616161;
    }

  /* animacion para todas las pages */
  @keyframes Animation {
    0.0%{
        transform: scale(0.5) translate(0%, 6vw);
   }
   100%{
        transform: scale(0.9) translate(80%, 2vw) skew(0deg);
   }
       }
    .moveMobil{ 
        margin-top: -15px;
        width: 30vw;
        height: auto;
        animation: Animation 0.5s ease 0.1s 1 normal both;
    }
    .fotoMove{
        margin: auto;
    }
    
  
     /* animacion del intro */
    @keyframes yourAnimation {
   0.0%{
    transform: translate(0, 45vh);
  }100%{
    transform: translate(0,-50vh);}
    }
    .coheteMobile{
        margin: auto;
        animation: yourAnimation 1.5s ease 0s 1 normal both;
    }

    .cohete{
        display: none;
    }

   /*  pagina 3 email */
   .ladoIzquierdo{
    display:unset;
   }
    .ladoDerecho{
    display: unset;
    }
    .containerMiddle{  
        margin: auto;
    margin-top: unset; 
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
   
}

.textIzquierdo{
    display: none;
    max-width: unset;
    margin-top: unset;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: unset;
    text-align: center;
    color: #353C73;
}
.mostrarMobile{
    display: block;
    font-size: 12px;
    text-align: center;
    max-width: 80%;

}

.radius{
    margin:10px 0 0 70px;
}
.radius2{
margin-left: 20vw;
}
.radius3{
    margin: 10px 0 0 20px;
}
/* pagina 7 estilo tienda */
.galeria{
   
    max-width: 95vw;
}
.imagenCarousel{

    height: auto;
    width: 45vw;
}
.containerMiddleEstiloTienda{
    margin-top: -3%;

}

#carousel {
    position: relative;
    height: 30vh;
    width: 95vw;
    top: 18vh;
    
    transform: translateY(-50%);
    overflow: hidden;
  }
  #carousel div {
    position: absolute;
    top: 5%;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
  }
  #carousel div img {
    height: 20vh;
    width: auto;
    transition: width 1s;
  }
  #carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(0%) translateX(-100%);
  }
  #carousel div.hideLeft img {
    height: 17h;
    width: auto;
  }
  #carousel div.hideRight {
   
    opacity: 0;
    transform: translateY(-10%) translateX(-50%);
  }
  #carousel div.hideRight img {
    height: 17vh;
    width: auto;
}
  #carousel div.prev {
    z-index: 5;
    left: 33%;
    transform: translateY( 13px) translateX(-100%);
  }
  #carousel div.prev img {
    height: 18vh;
    width: auto;
  }
  #carousel div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(10%) translateX(0%);
    opacity: 0;
  }
  #carousel div.prevLeftSecond img {
    height: 17vh;
    width: auto;
  }
  #carousel div.selected {
    z-index: 10;
    left: 50%;
    transform: translateY(-10px) translateX(-50%);
  }
  #carousel div.next {
    z-index: 5;
    left: 70%;
    transform: translateY(13px) translateX(-10%);
  }
  #carousel div.next img {
    height: 18vh;
    width: auto;
  }
  #carousel div.nextRightSecond {
    z-index: 4;
    left: 70%;
    transform: translateY(0%) translateX(40%);
    opacity: 0;
  }
  #carousel div.nextRightSecond img {
    height: 17vh;
    width: auto;}
  
  .buttons {
  opacity: 0;
  }




/* pagina Felicitaciones */
.textoMobil{
    display: block;
    font-size: 25px;
}
.felicitaciones{
    margin-top: 4%;
    font-size: 50px;
}
.signoExclamacion{
    font-size: 80px;

 }
.display{
        display: block;
        margin: auto;
    }
.device{
        max-width: 80vw;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
    
.center{
        text-align: center;
    }
.sistemaActivado{
    display: none;
}
.centrarFelicitaciones{
    text-align: center;
    margin-top: 40%;
    justify-content: center;
    align-items: center;
}
.sistemaActivadoMobil{
    display: block;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 108.19%;
text-align: center;
color: #616161;
}

/* Comenzar Ahora */
.comenzarAhoraTxt{
    text-align: center;
    color: #4D53D9;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 100;
    font-size: 50px;
    line-height: 108.19%;
  
}
/* paso 1 */
.form-check{
    margin-left:20%;
font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 100%;
text-align: left;
color: #808080;
}
/* AFIp modal */
.marginMobile{
    margin-top: 23%;
}
.marginTop{
    height: unset;
    justify-self: unset;
    width: unset;
 }


/* achica los input */
    .inputInline{
    display: unset;
}
    .input{
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 60vw;
    }
/* achica  y reposiciona la imagen del usuario */
.icon{
    margin-top: 15%;
    display: unset;
    position: unset;
    height: 100px;
    justify-self: center
}

 /* Reposicion del logo abajo */
    .logo{
        display: none;
    }
    .logoDevice{
        display: block;
        width: 60vw;
        height: auto;
        margin-top: 10%;
    }
    






/* modal */
/* fondo */
.backgroundMobilModal{
    
    background-color: rgba(244, 244, 244, 0.1);
    background-image: url("../img/backgroundMobileModal.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 98vh;
}

/* contenido al medio */
.containerMiddlePaso3{
    height: 100%;
    margin: auto;
    display: unset;
    grid-template-rows: unset;
    justify-content:unset;
    align-items: unset;
  }
  /* Lado derecho modal */
  .ladoDerechoModal{
    text-align: center;
    display: grid;
    grid-template-rows: auto;
   justify-content: center;
  }
  .positionComenzarAhora{
    margin-top: unset;
  }
/* top */
.marginMobileModal{
    margin-top: 20%;
}
  /*  texto */
  .textoStyle{
      font-size: 16px;
      }

    .textIzquierdoModal{
        display: none;
        max-width: unset;
        margin-top: unset;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 500;
        font-size: unset;
        text-align: center;
        color: #353C73;
    }
    .textIzquierdoModalPaso4{
        display: none;
        max-width: unset;
        margin-top: unset;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 500;
        font-size: unset;
        text-align: center;
        color: #353C73;
    }
        
    .items{
        display: none;
    }
    .logo2{
        display: none;
    }
    .escribirAbajoInput{
        font-size: 10px; 
        color:#353C73;
        margin-bottom: 5%;
        
    }
    .ladoIzquierdoModal{
        display: unset;
    }
    /* pagina 8 */
    .genial{
        font-size: 20vw;
        margin-top: 20%;
    }
    .genialExclamacion{
        font-size: 30vw;
    }
    .textPaso8{
        font-size: 20px;
        margin-top: 5%;
    }

}
