html{
    font-family: 'Nunito', sans-serif;
    background-color: rgba(244, 244, 244, 0.1s);
}
.background{
    background-image: url("../img/background.png");
    background-size:cover;
    background-repeat: no-repeat;
}

.display{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}
.backgroundBtn{
    height: 7vh;
    width: 12vw;
    color: white;
    border-style: none;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 20px;
    background: linear-gradient(0.25turn, #826ad7, #98def3);

}
.backgroundBtn:hover{
    background: linear-gradient(0.25turn, #826ad7, #98def3);
    filter: drop-shadow(10px 5px 5px #7d97f4);
   
}
.backgroundBtn:active{
    background: linear-gradient(0.25turn, #5e3fcc, #2989a6);

}
.inputs::placeholder{
    color: #69828a;
}
.input{
   
    margin: auto;
    width: 25vw;
}
.inputs{
    color:#826ad7;
    font-weight: 500;
}

.info{
    background: none;
    max-width: 80vw;
    text-align: center;
    margin: 10%;
    display: grid;
    grid-template-rows: 0.3fr 1fr 1fr;

}
.device{
    max-width: 20vw;
    display: flex;
   flex-direction: row;
   flex-wrap:nowrap;
}
.logo{
    width: 13vw;
}
.user{
    justify-self: flex-end;
    margin: auto;
    height: 20vh;
    width: auto;
}
.resizePic{
    height: 70vh;
    width: auto;
}
.pregunta{
    color:#616161;
    font-weight:400;
}
@keyframes Animation {
 0.0%{
 transform: translate(50%, 50%);
}
100%{
transform: scale(1) translate(50%, 20%) skew(0deg);
}
    }

.move{
    animation: Animation 0.5s ease-in 0.1s 1 normal both;
    }

.logoDevice{
        display: none;
    }

/* mobile */
@media (max-width: 700px) {
    .background{
        background: none;
    }
    .backgroundMobile{
        background-image: url("/img/backgroundMobile.png");
        background-position: center -5vh;
        background-size: cover;
        background-repeat: no-repeat;
        height: 50vw;
    }
   
    .display{
        display: block;
        margin: auto;
       
    }
    .device{
        max-width: 80vw;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
    .center{
        text-align: center;
    }
/* achica los input */
    .input{
        margin: auto;
        width: 60vw;
    }
/* achica la imagen del usuario */
    .user{
      height: 30vw;
      width: auto;
  }
/* Edicion boton */
    .boton{
        padding: 15px;
        width: fit-content;
    }
/* imagen moviendose  animada*/
    .move{ 
        margin-top: -15px;
        width: 20vw;
        height: auto;
        animation: Animation 0.5s ease 0.1s 1 normal both;
    }
    .fotoMove{
        margin: auto;
    }
/* animacion */
    @keyframes Animation {
        0.0%{
            transform: scale(0.5) translate(0vw, 6vw);
       }
       100%{
            transform: scale(1) translate(40vw, 6vw) skew(0deg);
       }
           }
    /* Reposicion del logo abajo */
    .logo{
        display: none;
    }
    .logoDevice{
        display: block;
        margin-top: 2vh;
        width: 40vw;
    }
    /* Container grid del user y los inputs */
    .info{
        margin-top: 15vh;
        display: grid;
        grid-row: 0.5fr 1fr 1fr;
        justify-content: center;
    }

}

  