html{
    font-family: 'Nunito', sans-serif;
    background-color: rgba(244, 244, 244, 0.1s);
}

.boton{
    position: absolute;
    top: 80vh;
    left: 68vw;
}

.backgroundBtn{
    height: 7vh;
    width: 12vw;
    color: white;
    border-style: none;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 20px;
    background: linear-gradient(0.25turn, #826ad7, #98def3);

}
.backgroundBtn:hover{
    background: linear-gradient(0.25turn, #826ad7, #98def3);
    filter: drop-shadow(10px 5px 5px #7d97f4);
   
}
.backgroundBtn:active{
    background: linear-gradient(0.25turn, #5e3fcc, #2989a6);

}
.icon{
    position: absolute;
    height: 18%;
    width: auto;
    left: 71vw;
    top: 18vh;
}
.inputs::placeholder{
    color: #69828a;
}
.inputInline{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.input{
    max-width: 90%;
}
.inputs{
    color:#826ad7;
    font-weight: 500;
}
.device{
    max-width: 20vw;
    display: flex;
   flex-direction: row;
   flex-wrap:nowrap;
}
.logo{
    width: 13vw;
}

.logoDevice{
        display: none;
    }


/* mobile */
@media (max-width: 700px) {
        /* pagina inicio  */
  /* background */
    .backgroundMobil{
        overflow: auto;
        background-color: rgba(244, 244, 244, 0.1);
        background-image: url("../img/backgroundMobile.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 50vw;
    }
   
    /* division de pantalla en movil */
    .divisionPantalla{
        display: block;
    }
    .bienvenidoGrid{
        display: block;
    }

    /* componentes */
    .bienvenidoMobile{
        margin-top: 80vw;
        text-align: center;
        font-size: 15vw;
    }
    .botonRegistrar{
        margin:-10vw 0vw 0vw -7vw;
    }
    .botonMovil{
        display: block;
        position: absolute;
        top:72vh;
        left: 37vw;
        width: fit-content;
    } 
    .nubes{
        background: none;
    }

  /* animacion para todas las pages */
  @keyframes Animation {
    0.0%{
        transform: scale(0.5) translate(0vw, 6vw);
   }
   100%{
        transform: scale(1) translate(40vw, 2vw) skew(0deg);
   }
       }
    .moveMobil{ 
        margin-top: -15px;
        width: 30vw;
        height: auto;
        animation: Animation 0.5s ease 0.1s 1 normal both;
    }
    .fotoMove{
        margin: auto;
    }

  
     /* animacion del intro */
    @keyframes yourAnimation {
   0.0%{
    transform: translate(0, 45vh);
  }100%{
    transform: translate(0,-50vh);}
    }
    .coheteMobile{
        margin: auto;
        animation: yourAnimation 1.5s ease 0s 1 normal both;
    }

    .cohete{
        display: none;
    }
   
   .genial{
    margin: auto;
    font-size: 25vw;
   }

   /*  pagina 3 email */
   .ladoIzquierdo{
    display:unset;
   }
    .ladoDerecho{
    display: unset;
    }
    .containerMiddle{
        margin-top: 60%;
}

    .textIzquierdo{
    position: absolute ;
    top: 58%;
    left: 2vw;
    max-width: 80vw;
    text-align: center;
    color: #616161;
    margin: auto;
    text-align: center;
    font-size: 16px;
    padding: 9px;

}

/* pagina 4 logo */
.alignMobileDots{
    margin:10% 0 0 10%;
}

/* pagina 5 tienda01 */
.alignMobileDots2{
    margin: 10% 0 0 25%;
}
/* pagina 7 estilo tienda */
.containerMiddleTienda{
    margin-top: 55%;
}
/* pagina Felicitaciones */
.textoMobil{
    position: absolute ;
    top: 60%;
    left: 2%;
}
.felicitaciones{
    position: absolute;
    top: 45vh;
    font-size: 50px;
}



.display{
        display: block;
        margin: auto;
    }
.device{
        max-width: 80vw;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
    
.center{
        text-align: center;
    }
/* achica los input */
    .inputInline{
    display: unset;
}
    .input{
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 60vw;
    }
/* achica  y reposiciona la imagen del usuario */
.icon{
    position: absolute;
    left: 33vw;
    top: 25vh;
    height: 15%;
}
/* Edicion boton */
    .boton{
        padding: 15px;
        width: fit-content;
    }

 /* Reposicion del logo abajo */
    .logo{
        display: none;
    }
    .logoDevice{
        display: block;
        position: absolute;
        top:85vh;
        left: 20%;
        width: 60vw;
    }
}

  