html{
    font-family: 'Nunito', sans-serif;
    background-color: rgb(244, 244, 244, 0.5);
}

.background3{

background-image: url("../img/background3.png");
background-size:cover;
background-repeat: no-repeat;

}

.ladoIzquierdo{
    min-width:400px ;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.sobre{
    height: 60vh;
}
/* animacion cuando solo hay imagen */
@keyframes Animation {
    0.0%{
    transform: translate(50%, 50%);
   }
   100%{
   transform: scale(1) translate(50%, 20%) skew(0deg);
   }
       }

/* Animacion para cuando hay imagen y texto */
@keyframes Animation2 {
        0.0%{
        transform: translate(50%, 50%);
       }
       100%{
       transform: scale(1) translate(50%, 10%) skew(0deg);
       }
           }
       
.move{
    justify-self: center;
    align-self: center;
    animation: Animation 1s ease-in 0.1s 1 normal both;
       }
   
.moveMasALto{
    justify-self: center;
    align-self: center;
    animation: Animation2 1s ease-in 0.1s 1 normal both;
}

.textIzquierdo{
    justify-self: start;
    align-self: flex-end;
    width: 30%;
    min-width: 400px;
    margin:10vh 0 3vw 3vw;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 3.3vh;
    text-align: center;
    color: #353C73;
    
   }
.ladoDerecho{
    overflow: scroll;
    min-width: 300px;
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 40% 40%;
 
}
.ladoDerecho div{
    min-width: 80%;
}
.logo{
    align-self:center ;
    justify-self: center;

}
.containerMiddle{
    margin-top: 20vh;
}

.pregunta2{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    color: #616161;
}


/* pagina 4 */
.background4{
    
    background-image: url("../img/background4.png");
    background-size:cover;
    background-repeat: no-repeat;
 }
  
.img4{
    margin: 0 0 0 -10vw;
    height: 70vh;
    width: auto;
}

/* pagina 5 */
.background5{

    background-image: url("../img/background5.png");
    background-size:cover;
    background-repeat: no-repeat;
 }
 
 .mouseCarousel{
     transform: scale(95%);
 }
 .mouseCarousel:hover{
     overflow: hidden;
    transform: scale(100%);
 }
 .galeria{
     margin: auto;
     max-width: 90%;
     display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
     overflow: scroll;  
 }
 .containerMiddleTienda{
    margin-top: 18vh;
}

 /* Pagina 8 crear un dominio */
 .background8{
  
    background-image: url("../img/background8.png");
    background-size:cover;
    background-repeat: no-repeat;
 }
 .inputURL{

     margin: auto;
     width:80%;
     height: 50px;
     border: 2px solid, #836ED8 ;
     border-radius: 50px;
     color: #836ED8;
 }
 /* pagina Felicitaciones */
 .felicitaciones{

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 6.5vw;
    line-height: 74.69%;
    text-align: center;
    color: #4D53D9;
 }
 .signoExclamacion{
    font-size: 13vw;

 }
 /* pagina 9 felicitaciones */